<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <appSettings>
      <add key="APP_ID" value="10046129" />
      <add key="SECRET_ID" value="AKIDtN47V5re4q5buarSlOVdVGKBYe98dUOT" />
      <add key="SECRET_KEY" value="xx3jw44FfQ1HtzmAdnzXfxEH05F3qgGO" />
      <add key="bucketName" value="mytest" />
      <add key="pagesize" value="199" />
    </appSettings>
</configuration>